@font-face {
    font-family: 'Sterion';
    src: url('../fonts/sterion-font/Sterion-BLLld.ttf') format('truetype');
}

@font-face {
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/Aquire-BW0ox.otf') format('truetype');
}

@font-face {
    font-family: 'Steelar';
    src: url('../fonts/steelar-font/Steelar-j9Vnj.otf') format('truetype');
}

body, html {
    margin: 0;
    background: linear-gradient(to bottom, #020c02, #0b3d0e);
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Landing Page */
#landingPage {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Steelar', sans-serif;
    font-size: 1.2rem;
    color: #00ff00;
    text-align: center;
}

#enterButton {
    cursor: pointer;
    width: 250px;
    height: auto;
    transition: transform 0.3s ease, fill 0.3s ease;
    z-index: 2;
}

#enterButton text {
    font-family: 'Aquire', sans-serif;
    font-size: 1.2rem;
}

#transitionPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

#loadingBackground {
    position: absolute;
    width: 90%;
    height: auto;
}

#loadingGif {
    width: 1500px;
    height: auto;
    object-fit: contain;
    position: relative;
    right: 20vw;
}

/* Main Content */
#mainContent {
    opacity: 0;
    display: none;
    transition: opacity 1s ease;
}

#mainContent.show {
    opacity: 1;
}

.fade-out {
    transition: opacity 2s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: transparent;
}

header svg {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

nav ul {
    display: none;
}

a {
    font-family: 'Aquire', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    fill: #00ff00;
    transition: fill 0.3s ease;
}

a:hover {
    fill: #ffffff;
}

#Mission {
    display: block;
    margin: 20px auto; 
    width: 100%; 
    max-width: 800px; 
    height: auto; 
    opacity: 80%;
    margin-top: 15vh;
}

.text-mission {
    font-family: 'Aquire', sans-serif;
    font-size: 0.7rem;
    fill: #00ff00;
    transition: fill 0.3s ease;
}

.text-mission2 {
    font-family: 'Aquire', sans-serif;
    font-size: 0.5rem;
    color: #00ff00;
    transition: fill 0.3s ease;
}

#welcomeSection{
    width: 90vw;
    margin-left: 5vw;
    padding-top: 12vh;
}